section.canhcam-tabs-1
	.fix-width
		.title-project
			h2 PROJECTS
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non facilis laborum eveniet hic nisi eaque veritatis animi cum, quod magni placeat dicta quibusdam facere omnis vel commodi doloremque dolor.
		ul#ccTabs.nav.nav-tabs(role="tablist")
			li.nav-item
				a#cct-01-tab.nav-link(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true")
					span ON GOING PROJECT
			li.nav-item
				a#cct-02-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false")
					span COMPLETED PROJECTS
		#ccTabsContent.tab-content.tab-style
			#cct-01.tab-pane.fade.p-lg-0(role="tabpanel" aria-labelledby="cct-01-tab")
				.jscontainer
					.box-1
						figure
							img(src="./img/home/home_project_1.png", alt="alt").class
							figcaption
								h3 Completion Of Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP
					.box-2
						figure
							img(src="./img/home/home_project_2.png", alt="alt").class
							figcaption
								h3 Completion Of Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP
						figure
							img(src="./img/home/home_project_3.png", alt="alt").class
							figcaption
								h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, possimus!
						
			#cct-02.tab-pane.fade(role="tabpanel" aria-labelledby="cct-02-tab") Eveniet nulla, recusandae modi consequuntur voluptas voluptatibus dolore sed repellat illo eos quos rem. Earum amet fugit quidem nostrum qui voluptatibus quae.
			
